<div class="max-w-6xl mx-auto px-2 my-16">
  <div class="border rounded-lg bg-gray-50 p-4 sm:p-16 text-sm sm:text-base">
    <h1 class="text-2xl font-bold mb-12 text-center">プライバシーポリシー</h1>

    <section class="mb-8">
      <h2 class="text-xl font-semibold mb-2">お客様から取得する情報</h2>
      <p>当社は、お客様から以下の情報を取得します。</p>
      <ul class="list-disc list-inside">
        <li>氏名（ニックネームやペンネームも含む）</li>
        <li>メールアドレス</li>
        <li>写真や動画</li>
        <li>外部サービスでお客様が利用するID、その他外部サービスのプライバシー設定によりお客様が連携先に開示を認めた情報</li>
        <li>Cookie（クッキー）を用いて生成された識別情報</li>
        <li>OSが生成するID、端末の種類、端末識別子等のお客様が利用するOSや端末に関する情報</li>
        <li>当社ウェブサイトの滞在時間、入力履歴、購買履歴等の行動履歴</li>
        <li>当社アプリの起動時間、入力履歴、購買履歴等の利用履歴</li>
      </ul>
    </section>

    <section class="mb-8">
      <h2 class="text-xl font-semibold mb-2">お客様の情報を利用する目的</h2>
      <p>当社は、お客様から取得した情報を、以下の目的のために利用します。</p>
      <ul class="list-disc list-inside">
        <li>当社サービスに関する登録の受付、お客様の本人確認、認証のため</li>
        <li>お客様のサービス利用履歴を管理するため</li>
        <li>サービスにおける行動履歴を分析し、サービスの維持改善に役立てるため</li>
        <li>お問い合わせへの対応のため</li>
        <li>規約や法令に違反する行為への対応のため</li>
        <li>サービスの変更、提供中止、終了、契約解除のご連絡のため</li>
        <li>規約の変更等の通知のため</li>
        <li>その他、サービスの提供・維持・保護および改善のため</li>
      </ul>
    </section>

    <section class="mb-8">
      <h2 class="text-xl font-semibold mb-2">安全管理のために講じた措置</h2>
      <p>
        当社が取得した情報に関する安全管理措置については、末尾記載のお問い合わせ先にご連絡いただければ、法令に従い個別にご回答いたします。
      </p>
    </section>

    <section class="mb-8">
      <h2 class="text-xl font-semibold mb-2">第三者提供</h2>
      <p>当社は、取得した情報のうち個人データ（個人情報保護法第16条第3項）に該当するものについては、以下の場合を除き、第三者に提供しません。</p>
      <ul class="list-disc list-inside">
        <li>個人データの取扱いを外部に委託する場合</li>
        <li>当社やサービスが買収された場合</li>
        <li>事業パートナーと共同利用する場合（具体的な内容は別途公表）</li>
        <li>その他、法令によって許されている場合</li>
      </ul>
    </section>

    <section class="mb-8">
      <h2 class="text-xl font-semibold mb-2">アクセス解析ツール</h2>
      <p>
        当社は、アクセス解析のために「Googleアナリティクス」を利用しています。
        Cookieを使用し匿名でトラフィックデータを収集します。
        Cookieを無効にすることで、情報収集を拒否できます。
        詳しくはブラウザ設定をご確認ください。
      </p>
      <p>
        Googleアナリティクスの詳細は以下をご参照ください：<br>
        <a href="https://marketingplatform.google.com/about/analytics/terms/jp/" target="_blank" class="text-blue-500 underline">
          Google アナリティクス利用規約
        </a>
      </p>
    </section>

    <section class="mb-8">
      <h2 class="text-xl font-semibold mb-2">プライバシーポリシーの変更</h2>
      <p>
        当社は、必要に応じて本ポリシーの内容を変更することがあります。
        変更内容および施行時期は、適切な方法で通知または公表します。
      </p>
    </section>

    <section class="mb-8">
      <h2 class="text-xl font-semibold mb-2">お問い合わせ</h2>
      <p>
        お客様の情報の開示・訂正・利用停止・削除をご希望の場合は、<%= link_to 'お問い合わせフォーム', 'https://forms.gle/wyL1bupbHsPCW1vE8', class: 'text-blue-500 underline hover:text-blue-700' %>よりご連絡ください。
      </p>
    </section>

    <section class="mb-8">
      <h2 class="text-xl font-semibold mb-2">事業者の氏名</h2>
      <p>後藤 翔太</p>
    </section>

    <footer class="text-sm text-gray-500 mt-8 text-right">
      <p>2025年04月14日 制定</p>
    </footer>
  </div>
</div>
