<div class="flex justify-center" >
  <%= image_tag "top_image.svg", class:"w-full max-w-3xl", alt: "シャアスキ！ロゴ" %>
</div>
<div class="max-w-3xl mx-auto mt-8">
  <%= link_to t('header.all_suki'), posts_path, class: 'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mr-2 transition duration-300' %>
  <%= link_to t('header.post_suki'), new_post_path, class: 'bg-blue-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded transition duration-300' %>
</div>
