<% if user_signed_in? %>
  <div class='ms-auto'>
    <% if current_user.like?(likeable) %>
      <%= render 'likes/unlike_button', { likeable: likeable } %>
    <% else %>
      <%= render 'likes/like_button', { likeable: likeable } %>
    <% end %>
  </div>
<% end %>
