<footer>
    <nav>
      <a><%= link_to t('footer.contact'), '#', target: :_blank, rel: 'noopener noreferrer' %></a>
      <a><%= link_to t('footer.terms'), '#', target: :_blank, rel: 'noopener noreferrer' %></a>
      <a><%= link_to t('footer.privacy'), privacy_policy_path, target: :_blank, rel: 'noopener noreferrer' %></a>
    </nav>
  </div>
</footer>
