<footer>
  <div>
    <div class="text-red-500 bg-blue-200 p-2 text-center">
    DaisyUI Debug: このテキストが **赤色** で、背景が **青色** なら DaisyUI は適用されています！
  </div>
    <nav>
      <a><%= link_to 'お問い合わせ', '#', target: :_blank, rel: 'noopener noreferrer' %></a>
      <a><%= link_to '利用規約', '#', target: :_blank, rel: 'noopener noreferrer' %></a>
      <a><%= link_to 'プライバシーポリシー', '#', target: :_blank, rel: 'noopener noreferrer' %></a>
    </nav>
  </div>
</footer>
