<footer>
    <nav>
      <a><%= link_to t('footer.contact'), 'https://forms.gle/wyL1bupbHsPCW1vE8', target: :_blank, rel: 'noopener noreferrer' %></a>
      <a><%= link_to t('footer.terms'), terms_path, target: :_blank, rel: 'noopener noreferrer' %></a>
      <a><%= link_to t('footer.privacy'), privacy_policy_path, target: :_blank, rel: 'noopener noreferrer' %></a>
    </nav>
  </div>
</footer>
