<footer>
  <div class="flex justify-center navbar bg-rose-400 py-6 text-sm sm:text-base gap-4 ">
    <nav c>
      <a><%= link_to t('footer.contact'), 'https://forms.gle/wyL1bupbHsPCW1vE8', target: :_blank, rel: 'noopener noreferrer', class: 'px-1 sm:px-8' %></a>
      <a><%= link_to t('footer.terms'), terms_path, target: :_blank, rel: 'noopener noreferrer', class: 'px-1 sm:px-8' %></a>
      <a><%= link_to t('footer.privacy'), privacy_policy_path, target: :_blank, rel: 'noopener noreferrer', class: 'px-1 sm:px-8' %></a>
    </nav>
  </div>
</footer>
