<header>
  <div class="navbar">
    <div class="flex-1">
      <a><%= link_to 'KORESUKI', root_path %></a>
    </div>
    <div class="flex-none flex space-x-6">
      <%= link_to t('header.signup', default: '新規登録'), new_user_registration_path, class: 'px-4 py-2' %>
      <%= link_to t('header.login', default: 'ログイン'), new_user_session_path, class: 'px-4 py-2' %>
    </div>
  </div>
</header>
