<header>
  <div class="navbar bg-rose-400 py-6">
    <div class="flex-1">
      <a><%= link_to t('helpers.sharesuki'), root_path %></a>
    </div>
    <div class="flex-none flex space-x-6">
      <%= link_to t('header.signup', default: '新規登録'), new_user_registration_path, class: 'px-4' %>
      <%= link_to t('header.login', default: 'ログイン'), new_user_session_path, class: 'px-4' %>
    </div>
  </div>
</header>
