<div class="max-w-3xl mx-auto my-16">
  <div class="border rounded-lg bg-gray-50 p-10 ">
    <h1 class="flex text-2xl font-bold mb-12 justify-center mt-5"><%= t('.title') %></h1>
    <%= render 'form', post: @post %>
  </div>
</div>
